.datos {
	margin: 40px 0px;
}

.tittle {
	font-weight: bold;
	text-align: center;
}

.btn-mm {
	cursor: pointer;
}

.c {
	text-align: center !important;
}

.n {
	font-weight: bold;
}

.verde {
	color: green !important;
}

.rojo {
	color: red !important;
}